<% layout('layout') %>

<% block('additional_link_tags').append('<link rel="stylesheet" type="text/css" href="/javascripts/trial_4/src/lib/videojs/video-js.css" />') %>

<h1><%= title %></h1>

<script type="text/javascript" src="/javascripts/trial_4/dist/bundle.js"></script>

<div class="row">
  <div class="col-sm-12">
    <video id=example-video width=600 height=300 class="video-js vjs-default-skin" controls>
      <source
          src="//d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8"
          type="application/x-mpegURL">
    </video>
    <script>
      var player = videojs('example-video');
      player.play();
    </script>
  </div>
</div>

