<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Webpack</h2>
    <div class="list-group">
      <a class="list-group-item" href="webpack/trial_1">Trial 1, Import Function and Class</a>
      <a class="list-group-item" href="webpack/trial_2">Trial 2, Import Libraries</a>
      <a class="list-group-item" href="webpack/trial_3">Trial 3, Import Three.js and examples</a>
    </div>
  </div>
</div>
