<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Webpack</h2>
    <div class="list-group">
      <a class="list-group-item" href="webpack/trial_1">Trial 1</a>
    </div>
  </div>
</div>
